.button-back{
    width: 100px;
    background: #27AE60;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px;
    margin: 10px auto;
    text-decoration: none;
    font-size: 14px;
    display: block;
}

.button-back:hover {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}