header {
    background-color: #fff;
    height: 70px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    margin-left: 40px;
}

nav a {
    color: #333;
    font-weight: bold;
    margin-right: 20px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
}

nav a:hover {
    color: #ef5753;
}
h1 {
    text-align: center;
    margin-top: 50px;
    width: 100%;
}