<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Адреса</title>
    <link rel = "stylesheet" th:href="@{/css/table.css}">
    <link rel = "stylesheet" th:href="@{/css/form.css}">
    <link rel = "stylesheet" th:href="@{/css/header.css}">
</head>
<body>
<header>
    <nav>
        <a th:href="@{/api/v1/shops}">Магазины</a>
        <a th:href="@{/api/v1/employees}" id ="employees">Работники</a>
        <a th:href="@{/api/v1/pets}">Животные</a>
        <a th:href="@{/api/v1/items}">Товары</a>
        <a th:href="@{/api/v1/kinds}">Виды животных</a>
        <a th:href="@{/api/v1/categories}">Категории товаров</a>
        <a th:href="@{/api/v1/addresses}" id="addresses">Адреса</a>
        <a th:href="@{/api/v1/users}">Пользователи</a>
        <a th:href="@{/api/v1/auth/login}">Выход</a>
    </nav>
</header>
<div class="container">
    <input id="message" type="hidden" th:value="${message}">
    <h1 id="main-heading">Адреса</h1>

    <!-- Форма для создания нового магазина -->
    <div class="card mb-3" id="new-address-form">
        <div class="card-body">
            <form th:action="@{/api/v1/addresses}" method="post" class="f">
                <fieldset>
                    <h2 class="fs-title">Новый Адрес</h2>
                    <div class="form-group">
                        <label for="region">Регион:</label>
                        <input type="text" class="form-control" id="region" name="region" required>
                    </div>
                    <div class="form-group">
                        <label for="city">Город:</label>
                        <input type="text" class="form-control" id="city" name="city" required>
                    </div>
                    <div class="form-group">
                        <label for="street">Улица:</label>
                        <input type="text" class="form-control" id="street" name="street" required>
                    </div>
                    <div class="form-group">
                        <label for="house">Дом:</label>
                        <input type="number" class="form-control" id="house" name="house" required>
                    </div>
                    <div class="form-group">
                        <label for="flat">Квартира:</label>
                        <input type="number" class="form-control" id="flat" name="flat" required>
                    </div>
                    <div class="form-group">
                        <label for="shop_id">ID магазина:</label>
                        <input type="number" class="form-control" id="shop_id" name="shop_id">
                    </div>
                    <div class="form-group">
                        <label for="employee_id">ID работника:</label>
                        <input type="number" class="form-control" id="employee_id" name="employee_id">
                    </div>
                    <button type="submit" class="btn btn-primary">Создать</button>
                </fieldset>
            </form>
        </div>
    </div>

    <!-- Таблица для отображения магазинов -->
    <table class="table table-striped" id="address-table">
        <thead>
        <tr>
            <th>#</th>
            <th>Регион</th>
            <th>Город</th>
            <th>Улица</th>
            <th>Дом</th>
            <th>Квартира</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="address, iterationStatus : ${addresses}" class="address-row">
            <td th:text="${iterationStatus.index + 1}" class="address-index"></td>
            <td th:text="${address.region}" class="address-region"></td>
            <td th:text="${address.city}" class="address-city"></td>
            <td th:text="${address.street}" class="address-street"></td>
            <td th:text="${address.house}" class="address-house"></td>
            <td th:text="${address.flat}" class="address-flat"></td>
            <td>
                <div class="btn-group" role="group">
                    <form th:action="@{/api/v1/addresses}" th:method="delete" class="delete-form">
                        <input type="hidden" name="id" th:value="${address.id}" class="delete-input" />
                        <button type="submit" class="btn btn-danger delete-btn">Удалить</button>
                    </form>
                    <form th:action="@{/api/v1/addresses/update}" th:method="get" class="update-form">
                        <input type="hidden" name="id" th:value="${address.id}" class="update-input" />
                        <input type="hidden" name="employee_id" th:value="${address?.employee?.id}" class="update-input" />
                        <input type="hidden" name="shop_id" th:value="${address?.shop?.id}" class="update-input" />
                        <input type="hidden" name="region" th:value="${address.region}" class="update-input" />
                        <input type="hidden" name="city" th:value="${address.city}" class="update-input" />
                        <input type="hidden" name="street" th:value="${address.street}" class="update-input" />
                        <input type="hidden" name="house" th:value="${address.house}" class="update-input" />
                        <input type="hidden" name="flat" th:value="${address.flat}" class="update-input" />


                        <button type="submit" class="btn btn-secondary update-btn">Изменить</button>
                    </form>
                    <form th:action="@{/api/v1/addresses/{id}(id=${address.id})}" th:method="get" class="details-form">
                        <button type="submit" class="btn btn-third details-btn">Подробнее</button>
                    </form>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Импорт библиотеки jQuery -->
<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/check_token.js}"></script>
<script type="text/javascript" th:src="@{/js/admin_access.js}"></script>
<script type="text/javascript" th:src="@{/js/header_role.js}"></script>

</body>
</html>