<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Авторизация</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="/css/auth.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class = "block">
        <div class = "block__item block-item">
            <h2 class = "block-item__title black">У вас уже есть аккаунт?</h2>
            <button class = "block-item__btn signin-btn">Войти</button>
        </div>
        <div class = "block__item block-item">
            <h2 class = "block-item__title black">У вас нет аккаунта?</h2>
            <button class = "block-item__btn signup-btn " >Зарегистрироваться</button>
        </div>
    </div>
    <div class = "form-box">
        <form th:action="@{/api/v1/auth/login}" method="post" id="form1" class = "form form_signin">
            <h3 class = "form__title">Вход</h3>
            <p>
                <input type="text" class = "form__input" id="username" name="username" required
                       placeholder="Никнейм">
            </p>
            <p>
                <input placeholder="Пароль" type="password" class = "form__input" id="password"
                       name="password" required>
            </p>
            <button id = "inBtn" type="submit" class = "form__btn">Войти</button>
        </form>
        <form th:action="@{/api/v1/auth/registry}" method="post" id = "form2" class = "form form_signup">
            <h3 class = "form__title">Регистрация</h3>

            <p>
                <input placeholder="Никнейм"
                       type="text" class = "form__input" id="username1" name="username" required>
            </p>
            <p>
                <input placeholder="Имя"
                       type="text" class = "form__input" id="firstName" name="firstName" required>
            </p>
            <p>
                <input placeholder="Фамилия"
                       type="text" class = "form__input" id="lastName" name="lastName" required>
            </p>
            <p>
                <input placeholder="Почта"
                       type="email" class = "form__input" id="email" name="email" required>
            </p>
            <p>
                <input placeholder="Пароль"
                       type="password" class = "form__input" id="password1" name="password" required>
            </p>

            <button id = "upBtn" type="submit" class = "form__btn form__btn_signup" >Зарегистрировать</button>
        </form>
    </div>
</div>
<!-- Импорт библиотеки Bootstrap -->
<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>

<script type="text/javascript" src="/js/auth.js"></script>
</body>
</html>