<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Информация о категории товара</title>
    <link rel = "stylesheet" th:href="@{/css/info.css}">
    <link rel = "stylesheet" th:href="@{/css/table.css}">
    <link rel = "stylesheet" th:href="@{/css/button_back.css}">
</head>
<body>
<div class="info-block">
    <p th:text="'ID : ' + ${category.id}"></p>
</div>
<div class="info-block">
    <p th:text="'Название : ' + ${category.name}"></p>
</div>
<div class="info-block">
    <p th:text="'Средний размер : ' + ${category.averageSize}"></p>
</div>
<div class="info-block">
    <p th:text="'Цель : ' + ${category.purpose}"></p>
</div>

<h1>Товары</h1>
<table>
    <thead>
    <tr>
        <th>ID товара</th>
        <th>Закупочная Цена</th>
        <th>Цена продажи</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${category.getItems()}">
        <td th:text="${item.id}"></td>
        <td th:text="${item.purchasePrice}"></td>
        <td th:text="${item.sellingPrice}"></td>
    </tr>
    </tbody>
</table>
<form th:action="@{/api/v1/categories}" th:method="get" class="details-form">
    <button type="submit" class="button-back">Назад</button>
</form>
<script type="text/javascript" th:src="@{/js/check_token.js}"></script>
<script type="text/javascript" th:src="@{/js/user_access.js}"></script>
</body>
</html>