<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Изменить работника</title>
    <link rel = "stylesheet" th:href="@{/css/form.css}">
    <link rel = "stylesheet" th:href="@{/css/button_back.css}">
</head>
<body>
<div class="card mb-3">
  <div class="card-body">
    <form th:action="@{/api/v1/employees}" class="f" th:method="put">
      <fieldset>
        <h2 class="fs-title">Изменить работника</h2>
        <div class="form-group">
          <label for="name">Имя:</label>
          <input th:value = "${employee.name}" type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="form-group">
          <label for="phone">Телефон:</label>
          <input type="number" th:value = "${employee.phone}" class="form-control" id="phone" name="phone" required>
        </div>
        <div class="form-group">
          <label for="email">Почта:</label>
          <input type="email" th:value = "${employee.email}" class="form-control" id="email" name="email" required>
        </div>
        <div class="form-group">
          <label for="salary">Зарплата:</label>
          <input type="number" th:value = "${employee.salary}" class="form-control" id="salary" name="salary" required>
        </div>
        <div class="form-group">
          <label for="position">Должность:</label>
          <input type="text" th:value = "${employee.position}" class="form-control" id="position" name="position" required>
        </div>
        <div class="form-group">
          <label for="shop_id">ID магазина:</label>
          <input type="number" th:value = "${shop_id}" class="form-control" id="shop_id" name="shop_id" required>
        </div>
        <input type="hidden" name="id" th:value="${id}">
        <button type="submit" class="btn btn-primary">Изменить</button>
      </fieldset>
    </form>
  </div>
</div>
<button type="button" class="button-back" onclick="history.back()">Назад</button>
<script type="text/javascript" th:src="@{/js/check_token.js}"></script>
<script type="text/javascript" th:src="@{/js/admin_access_info.js}"></script>
</body>
</html>