<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Изменить вид животного</title>
    <link rel = "stylesheet" th:href="@{/css/form.css}">
    <link rel = "stylesheet" th:href="@{/css/button_back.css}">
</head>
<body>
<div class="card mb-3">
    <div class="card-body">
        <form th:action="@{/api/v1/kinds}" class="f" th:method="put">
            <fieldset>
                <h2 class="fs-title">Изменить Вид Животного</h2>
                <div class="form-group">
                    <label for="name">Название:</label>
                    <input th:value="${kind.name}" type="text" class="form-control" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="eatingWay">Тип питания:</label>
                    <input type="text" th:value="${kind.eatingWay}" class="form-control" id="eatingWay" name="eatingWay" required>
                </div>
                <div class="form-group">
                    <label for="climateZone">Зона обитания:</label>
                    <input type="text" th:value="${kind.climateZone}" class="form-control" id="climateZone" name="climateZone" required>
                </div>
                <div class="form-group">
                    <label for="order">Отряд:</label>
                    <input type="text" th:value="${kind.order}" class="form-control" id="order" name="order" required>
                </div>
                <input type="hidden" name="id" th:value="${id}">
                <button type="submit" class="btn btn-primary">Изменить</button>
            </fieldset>
        </form>
    </div>
</div>
<form th:action="@{/api/v1/kinds}" th:method="get" class="details-form">
    <button type="submit" class="button-back">Назад</button>
</form>
<script type="text/javascript" th:src="@{/js/check_token.js}"></script>
<script type="text/javascript" th:src="@{/js/admin_access_info.js}"></script>
</body>
</html>