<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Изменить животное</title>
    <link rel = "stylesheet" th:href="@{/css/form.css}">
    <link rel = "stylesheet" th:href="@{/css/button_back.css}">
</head>
<body>
<div class="card mb-3">
    <div class="card-body">
        <form th:action="@{/api/v1/pets}" th:method="put" class="f">
            <fieldset>
                <div class="form-group">
                    <h2 class="fs-title">Изменить Животное</h2>
                    <label for="alias">Кличка:</label>
                    <input type="text" th:value="${pet.alias}" class="form-control" id="alias" name="alias" required>
                </div>
                <div class="form-group">
                    <label for="weight">Вес:</label>
                    <input type="number" th:value="${pet.weight}" class="form-control" id="weight" name="weight" required>
                </div>
                <div class="form-group">
                    <label for="gender">Гендер:</label>
                    <input type="text" th:value="${pet.gender}" class="form-control" id="gender" name="gender" required>
                </div>
                <div class="form-group">
                    <label for="color">Цвет:</label>
                    <input type="text"  th:value="${pet.color}"class="form-control" id="color" name="color" required>
                </div>
                <div class="form-group">
                    <label for="price">Стоимость:</label>
                    <input type="number" th:value="${pet.price}" class="form-control" id="price" name="price" required>
                </div>
                <div class="form-group">
                    <label for="shop_id">ID магазина:</label>
                    <input type="number" th:value="${shop_id}" class="form-control" id="shop_id" name="shop_id">
                </div>
                <div class="form-group">
                    <label for="kind_id">ID вида:</label>
                    <input type="number" th:value="${kind_id}" class="form-control" id="kind_id" name="kind_id">
                </div>
                <input type="hidden" name="id" th:value="${id}">
                <button type="submit" class="btn btn-primary">Изменить</button>
            </fieldset>
        </form>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/admin_access_info.js}"></script>
<script type="text/javascript" th:src="@{/js/check_token.js}"></script>
<form th:action="@{/api/v1/pets}" th:method="get" class="details-form">
    <button type="submit" class="button-back">Назад</button>
</form>
</body>
</html>