<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>User Management</title>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<h1>Welcome to User Management</h1>
<h2>User List:</h2>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Username</th>
    <th>Email</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="user : ${users}">
    <td th:text="${user.id}"></td>
    <td th:text="${user.username}"></td>
    <td th:text="${user.email}"></td>
    <td>
      <form th:action="@{'/api/v1/users/' + ${user.id}}" method="post">
        <input type="hidden" name="_method" value="delete"/>
        <button type="submit">Delete</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>
<h2>Create User:</h2>
<form th:action="@{/api/v1/users}" method="post">
  <div>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username"/>
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password"/>
  </div>
  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email"/>
  </div>
  <button type="submit">Create User</button>
</form>
<script type="text/javascript" th:src="@{/user.js}"></script>
</body>
</html>